<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Main.Properties.Settings.db_qlShopBanGiayConnectionString1"
            connectionString="Data Source=DESKTOP-A0G3GBK\SQLEXPRESS;Initial Catalog=db_qlShopBanGiay;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.db_qlshopBanGiayConnectionString"
            connectionString="Data Source=ACER\FUANG;Initial Catalog=db_qlshopBanGiay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>